In [1]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('spam.csv')

In [3]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)

In [5]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

## Data Cleaning

In [6]:
ps=PorterStemmer()

In [7]:
import string
c=[]
for i in range(0,len(df)):
    message=(df['v2'][i]).translate(str.maketrans('','',string.punctuation))
    message=message.lower()
    message=message.split()
    message=[ps.stem(j) for j in message if not j in stopwords.words('english')]
    message=' '.join(message)
    c.append(message)

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

In [23]:
cv=CountVectorizer(max_features=5000)
# max_features=4000 --> accuracy--> 97.08
# max_features=4500 --> accuracy--> 97.48
X=cv.fit_transform(c).toarray()

In [24]:
y=pd.get_dummies(df['v1'],drop_first=True).values

In [30]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [31]:
from sklearn.naive_bayes import MultinomialNB
model_nb=MultinomialNB()
model_nb.fit(X_train,y_train)
y_pred=model_nb.predict(X_test)

In [32]:
accuracy=accuracy_score(y_test,y_pred)
cm=confusion_matrix(y_test,y_pred)
print("accuracy ",accuracy)
print(cm)

accuracy  0.9827709978463748
[[1185   11]
 [  13  184]]

In [37]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(X_train, y_train)
rf_predict=rf.predict(X_test)
a="Loot 1000 dollar grab it now"

In [34]:
cm_rf=confusion_matrix(y_test,rf_predict)
accuracy_rf=accuracy_score(y_test,rf_predict)
print("accuracy ",accuracy_rf)
print(cm_rf)

accuracy  0.9727207465900933
[[1196    0]
 [  38  159]]